<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1170">
    <meta name="description" content="SEO Description">
    <meta name="keywords" content="SEO keywords">
    <link href="../img/elem/favicon.png" rel="shortcut icon">
    <title>Успешная авторизация</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body onload="setTimeout('window.close()',3000)">
    <div class="thanks-container">
      <h1 class="thanks__heading">Вы были успешно авторизированы.</h1>
      <p class="thanks__info"><br></p><a href="#" title="Закрыть страницу" onclick="window.close()" class="thanks__close"></a>
    </div>
  </body>
</html>